*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #161515, #201f1f, #383333);
    background-size: 300% 300%;
    /* background-color: #161515; */
    animation: backColors 15s ease infinite;
}

@keyframes backColors{
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}