.play_zone{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
.card_game{
    width: 22rem;
    max-width: 95%;
    background-color: #141414;
    margin: 8px;
    padding: 16px;
    border-radius: 8px;
}
.card_game h1{
    font-family: 'Nunito';
    color: #fff200;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}
.card_game h4{
    font-family: 'Nunito';
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.card_game h5{
    font-family: 'Nunito';
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.card_game .btn_game{
    background-color: #fff200;
    color: #000;
    font-weight: 900;
    font-family: 'Nunito';
    box-shadow: none;
}
.card_gamel .btn_game:hover{
    color: #201f1f;
}